.slogan {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
    align-items: center;
    padding: 50px 50px 20px;
  }
}

.slogan-media {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;

  @media (min-width: $screen-md) {
    width: 60%;
    max-width: 600px;
  }

  img {
    max-width: 90%;
    max-height: 240px;
    object-fit: contain;
  }
}

.slogan-content {
  padding: 20px;

  @media (min-width: $screen-md) {
    padding: 0 10px 0 30px;
    max-width: 360px;
    margin: 0 auto;
  }

  .text-title {
    display: flex;
    flex-direction: column;
  }
}
