.slide {
  display: flex;
  flex-direction: column;
  margin: 30px 0;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.slide__img {
  width: 100%;

  @media (min-width: $screen-md) {
    width: 60%;
  }
}

.slide__text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;

  @media (min-width: $screen-md) {
    width: 39%;
  }

  div {
    max-width: 260px;
  }

  h4 {
    margin: 0 0 10px;

    @media (min-width: $screen-lg) {
      margin: 0 0 20px;
    }
  }

  p {
    margin: 0;
  }
}
