<div class="container" id="sub">
  <div class="slogan">
    <div class="slogan-media">
      <img src="~/assets/images/slogan/multifunctional-sub.png" alt="" />
    </div>
    <div class="slogan-content">
      <div class="text-title">
        <span>會議室</span>
        <small>2-12 人的會議空間</small>
      </div>
      <p class="text-description">2-12 人的會議空間，交通便利、設備齊全，且開放時間彈性，夜間、週末、遠端會議皆可進行。除一般會議使用外，也適合微型工作坊、個人諮商等活動使用。</p>
    </div>
  </div>

  <div class="slide-list" data-active="1">
    <div class="slide-list__button slide-list__button--left" data-direction="-1"></div>
    <div class="slide-list__button slide-list__button--right slide-list__button--limit-2" data-direction="+1"></div>

    <div class="slide reverse">
      <img class="slide__img" src="~/assets/images/slide/meeting-room-2-6.jpg" alt="多功能活動區" />
      <div class="slide__text">
        <div>
          <h4 class="text-title">2-6 人會議室</h4>
          <p class="text-description">可供 2-6 人使用，適合小型會議、遠端會議、微型工作坊、個人諮商...等活動使用。</p>
        </div>
      </div>
    </div>
    <div class="slide reverse">
      <img class="slide__img" src="~/assets/images/slide/meeting-room-7-12.jpg" alt="多功能活動區" />
      <div class="slide__text">
        <div>
          <h4 class="text-title">7-12 人會議室</h4>
          <p class="text-description">可供 7-12人使用，適合多人會議、遠端會議、微型工作坊...等活動使用。如人數較多需更大空間，可改租借多功能活動區。</p>
        </div>
      </div>
    </div>
  </div>
</div>