<div class="container prices">
  <div class="price-cards">
    <div class="title">收費方式</div>
    <div class="price-main">
      <div class="price">
        <div class="price__main">
          <div class="text-title">多功能活動區</div>
          <div>適合 30-50 人</div>
        </div>
        <div class="price__footer">
          <a class="price__button" href="https://bit.ly/2G8Vr5t" target="mutix-promotion">價格方案</a>
          <small>*如需租借營業時間外的時段，可私訊粉專我們聯絡。</small>
        </div>
      </div>
      <div class="price">
        <div class="price__main">
          <div class="text-title">2-6人會議室</div>
          <div>出租時段 週一至週日 09:00-22:00</div>
          <small>*每次最少租用一小時</small>
        </div>
        <div class="price__footer">
          <a class="price__button" href="https://bit.ly/2G8Vr5t" target="mutix-promotion">價格方案</a>
          <small>*如需租借營業時間外的時段，可私訊粉專我們聯絡。</small>
        </div>
      </div>
      <div class="price">
        <div class="price__main">
          <div class="text-title">7-12 人會議室</div>
          <div>出租時段 週一至週日 09:00-22:00</div>
          <small>*每次最少租用一小時</small>
        </div>
        <div class="price__footer">
          <a class="price__button" href="https://bit.ly/2G8Vr5t" target="mutix-promotion">價格方案</a>
          <small>*如需租借營業時間外的時段，可私訊粉專我們聯絡。</small>
        </div>
      </div>
    </div>
  </div>
</div>
