<div class="container prices">
  <div class="price-cards">
    <div class="title">收費方式</div>
    <div class="price-main">
      <div class="price">
        <div class="price__main">
          <div class="text-title">多功能活動區</div>
          <div>適合 30-50 人</div>
          <div>24 小時開放租借（需預約）</div>
          <small>*每次最少租用三小時</small>
        </div>
        <div class="price__footer">
          <a class="price__button" href="http://bit.ly/2N6yoeW" target="mutix-promotion">價格方案</a>
        </div>
      </div>
      <div class="price">
        <div class="price__main">
          <div class="text-title">2-6人會議室</div>
          <div>24 小時開放租借（需預約）</div>
        </div>
        <div class="price__footer">
          <a class="price__button" href="http://bit.ly/2N6yoeW" target="mutix-promotion">價格方案</a>
        </div>
      </div>
      <div class="price">
        <div class="price__main">
          <div class="text-title">7-12 人會議室</div>
          <div>24 小時開放租借（需預約）</div>
        </div>
        <div class="price__footer">
          <a class="price__button" href="http://bit.ly/2N6yoeW" target="mutix-promotion">價格方案</a>
        </div>
      </div>
    </div>
  </div>
</div>
