<div class="services bg-blue">
  <div class="title">軟硬體設備提供</div>
  <div class="service-container">
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">無線網路</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">電視螢幕</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">廣角視訊鏡頭</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">電源插座、<br />轉接頭</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">移動白板</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-2"></div>
      <div class="service-text text-description">多功能廁所</div>
    </div>
  </div>
</div>
