@import "./size";
@import "./color";
@import "./components/topbar";
@import "./components/footer";

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: "PingFang TC", "Microsoft JhengHei", "微軟正黑體",
    "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  letter-spacing: 0.025em;
}

body {
  margin: 0;
  color: $white;
  font-size: 15px;
  font-weight: 600;
  background: $black;
}

img {
  border: 0;
}

footer,
header,
section {
  display: block;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  outline: 0;
  color: $white;
  text-decoration: none;
  background-color: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.anchor {
  height: $topbar-height * 1.4;
  margin: $topbar-height * -1.4 0 0;
}

.bg-blue {
  background: $blue;
}

.hide-sm {
  @media (max-width: $screen-md - 0.5) {
    display: none;
  }
}

.hide-md {
  @media (min-width: $screen-md) {
    display: none;
  }
}

.title {
  font-size: 32px;

  @media (min-width: $screen-md) {
    font-size: 40px;
  }
}

.text-title {
  font-size: 24px;

  @media (min-width: $screen-md) {
    font-size: 30px;
  }
}

.text-description {
  font-size: 12px;
  line-height: 1.7;

  @media (min-width: $screen-md) {
    font-size: 15px;
  }
}

.text-center {
  text-align: center;
}

.justify {
  display: flex;
  justify-content: space-between;
}

.neon-sign {
  color: $black;
  font-size: 48px;
  text-align: center;
  user-select: none;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #76b0ff, 0 0 0.5em #76b0ff,
    0 0 0.1em #76b0ff, 0 10px 3px $black;
  filter: contrast(1.2);

  @media (min-width: $screen-md) {
    font-size: 60px;
  }

  span {
    animation: blink linear infinite 2s;

    &:nth-of-type(2) {
      animation: blink linear infinite 3s;
    }
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: $blue;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}
