@import "./general";
@import "./components/banner-img";
@import "./components/slogan";
@import "./components/advantages";
@import "./components/prices";
@import "./components/services";
@import "./components/information";
