
html {
  scroll-behavior: smooth;
  font-family: 'Microsoft JhengHei', '微軟正黑體','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.pure-g [class*=pure-u] {
  font-family: 'Microsoft JhengHei', '微軟正黑體','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


body {
  background-color: #000000;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.container_m{
  max-width: 950px;
}

.g-title {
  font-size: 25px;
  font-weight: 600;
  color: #FFFFFF;
}

.bg-blue {
  background-color: #0f1526;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #FFFFFF;
}


/* 
88b           d88             88          88 88             
888b         d888             88          "" 88             
88`8b       d8'88             88             88             
88 `8b     d8' 88  ,adPPYba,  88,dPPYba,  88 88  ,adPPYba,  
88  `8b   d8'  88 a8"     "8a 88P'    "8a 88 88 a8P_____88  
88   `8b d8'   88 8b       d8 88       d8 88 88 8PP"""""""  
88    `888'    88 "8a,   ,a8" 88b,   ,a8" 88 88 "8b,   ,aa  
88     `8'     88  `"YbbdP"'  8Y"Ybbd8"'  88 88  `"Ybbd8"'                                                 
*/

header .container {
  height: 50px;
  line-height: 50px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  padding-left: 10px;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: black;
}

header .logo {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
}

header .title {
  display: inline-block;
  height: 20px;
}

header .menu {
  display: block;
  float: right;
  margin-right: 5%;
}

header ul {
  list-style-type: none; padding: 0; margin: 0;
}

header ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; 
  margin-right: 2vw;
}

header ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header ul li a:link {
  color: #FFFFFF;
}
header ul li a:visited {
  color: #FFFFFF;
}
header ul li a:hover {
  color: #FFFFFF;
}
header ul li a:active {
  color: #FFFFFF;
}

footer {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 22px 0px;
}

h1 {
  font-size: 40px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 10px;
}

h3 {
  font-size: 24px;
  letter-spacing: 10px;
}

.margin0{
  margin: 0;
}

.mobile-only{
  display: block;
}

.tablet-up-display{
  display: none;
}

.pc-only {
  display: none;
}

.center {
  text-align: center;
}

.pure-u-1-7 {
  width: 14.285714285714285714285714285714%;
  *width: 14.285714285714285714285714285714%;
}

.NTD::before {
  content:"NTD";
  position: absolute;
  margin-top: -35px;
  margin-left: -10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
}

.START::after {
  content:"起";
  position: absolute;
  margin-top: 20px;
  margin-left: -10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
}

.section_banner{
  margin-top: 50px;
}

.section_banner img{
  width: 100vw;
  height: auto;
  margin: 0 auto;
}


.section_introduction {
  padding-top: 40px;
  padding-bottom: 40px;
}

.introduction_img {
  width: 256px;
  height: auto;
}

.introduction_title {
  font-size: 24px;
  font-weight: 600;
  padding-right: 10%;
}

.introduction_desc {
  font-size: 12px;
  font-weight: 600;
  line-height: 1.67;
  padding-right: 10%;
}

.section_why {
  padding-top:20px;
}

.why_br{
  margin: 0 auto;
  margin-top: 50px;
  height: 1500px;
}

.why_center_line {
  position: absolute;
  background-color: #FFFFFF;
  width: 6px;
  height: 1500px;
  left: 10%;
}

.why_item {
  position: relative;
  width: 100%;
  margin: 0 auto;
  text-align: left;
  margin-top: 50px;
}


.why_item_img {
  width: 200px;
}

.why_item_img_L {
  width: 100%;
  text-align: center;
}

.why_item_img_R {
  width: 100%;
  text-align: center;
}

.why_item_img img{
  width: 200px;
  height: auto;
  margin: 0 auto;
}

.why_item_dot {
  width: 26px;
  height: 26px;
  background-color: #FFFFFF;
  border-radius: 15px;
  position:absolute;
  left: 10%;
  top: 112px;
  margin-left: -11px;
}

.why_item_txt {
  width: 200px;
  margin: 0 auto;
}

.why_item_txt_title{
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.why_item_line_R{
  position:absolute;
  left: 10%;
  top: 124px;
  width: 10%;
  height: 3px;
  background-color: #FFFFFF;
}

.why_item_line_L{
  position:absolute;
  left: 50%;
  top: 126px;
  width: 180px;
  height: 4px;
  background-color: #FFFFFF;
  margin-left: -180px;
}



.section_service {
  padding-top: 20px;
  padding-bottom: 40px;
}

.section_service_title{
  text-align: left;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 6px;
  margin-left: 10%;
}

.section_service_subtitle{
  margin-left: 10%;
  text-align: left;
}

.service_item{
  margin-top: 40px;
  text-align: center;
}

.service_item_img{
  width: 100%;
  margin-bottom: 15px;
}

.service_item_img img{
  width: 100px;
  height: auto;
}

.service_item_text {
  letter-spacing: normal;
  font-weight: 600;
  width: 100px;
  margin: 0 auto;
}

.price_banner {
  padding-top: 35px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 32px;
  font-weight: 600;
  padding-left: 10%;
}

.price_banner_sub{
  padding-left: 10%;
}

.price_info {
  margin-top: 10px;
  padding: 0;
  padding-top: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.price_info_block {
  position: relative;
  padding: 15px 0px 20px 0px;
  background-color: #FFFFFF;
  color: #423c3b;
  width: 80%;
  min-width: 330px;
  margin: 0 auto;
  margin-bottom: 20px
}

.price_info_title{
  text-align: center;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 25px;
}

.price_info_block_price {
  height: 70px;
  line-height: 70px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
}

.price_info_block_contant {
  position: relative;
  text-align: center;
  padding-left: 40px;
  padding-right: 30px;
  font-size: 20px;

}

.price_info_block_subtitle {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  margin-bottom: 20px;
}

.price_info_block_desc {
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 15px;
  white-space: normal;
}

.price_info_block_desc ul {
  list-style-type: none;
  position: relative;
  padding-inline-start: 15px;
}

.price_info_block_desc ul li::before{
  position: absolute;
  margin-top: 8px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #423c3b;
  left: 0;
  border-radius: 50%;
}

.price_info_block_topshadow{
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding-top: 20px;
}

.price_info_mobile_btn_L, .price_info_mobile_btn_R{
  width: 65px;
  height: 65px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  margin-top: -30px;
  z-index: 3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.price_info_mobile_btn_L{
  background-image: url('../images/studi_left.png');
  left: 0px;
  margin-left: -6%;
}

.price_info_mobile_btn_R{
  background-image: url('../images/studi_right.png');
  right: 0px;
  margin-right: -6%;
}

.section_price{
  position: relative;
}

.section_info{
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 10%;
  padding-right: 10%;
}


.info_item_img{
  width: 100px;
  margin: 0 auto;
}

.info_item_img img{
  width: 100%;
  height: auto;
}

.info_item_text{
  margin-top: 5px;
  font-size: 12px;
  font-weight: 600;
}

.why_title{
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
  text-align: left;
  margin-left: 10%;
}

.applyBtn {
  margin: 0 auto;
  width: 80%;
  width: 295px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #306c9b;
  font-size: 24px;
  font-weight: 600;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
  margin-top: 75px;
  margin-bottom: 75px;
}

/*                                                  
888888888888       88          88                     
     88            88          88              ,d     
     88            88          88              88     
     88 ,adPPYYba, 88,dPPYba,  88  ,adPPYba, MM88MMM  
     88 ""     `Y8 88P'    "8a 88 a8P_____88   88     
     88 ,adPPPPP88 88       d8 88 8PP"""""""   88     
     88 88,    ,88 88b,   ,a8" 88 "8b,   ,aa   88,    
     88 `"8bbdP"Y8 8Y"Ybbd8"'  88  `"Ybbd8"'   "Y888  
*/


@media screen and (min-width: 768px) {

  body {
    font-size: 15px;
  }

  header .menu {
    margin-right: 0px;
  }
  
  header .logo {
    display: inline-block;
    height: 20px;
  }
  
  header .title {
    display: inline-block;
    height: 20px;
  }
  h1 {
    font-size: 40px;
    font-weight: 600;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 12px;
  }

  h3 {
    font-size: 30px;
    letter-spacing: normal;
  }

  .pure-u-md-1-7 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }

  .g-title {
    font-size: 50px;
  }

  .tablet-up-display{
    display: block;
  }

  .section_price {
    margin-top: 40px;
  }

  .price_banner {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-left: 0px;
  }
  
  .price_banner_sub{
    text-align: center;
    padding: 0px;
  }
  
  .price_info {
    padding-top: 35px;
  }

  .price_info_block{  
    max-width: 375px;
    margin-bottom: 0px
  }

  .price_info_title{
    font-size: 30px;
    font-weight: 600;
  }

  .section_info{
    padding-top: 20px;
    padding-bottom: 40px;
  }

  .info_item_text{
    font-size: 15px;
  }

  .section_service {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .section_service_title{
    margin-left: 0;
    text-align: center;
  }

  .section_service_subtitle{
    margin-left: 0;
    text-align: center;
  }

  .why_title{
    margin-left: 0px;
    text-align: center;
  }

  .why_center_line {
    position: absolute;
    background-color: #FFFFFF;
    width: 7px;
    height: 1611px;
    left: 50%;
    margin-left: -3px;
  }

  .why_item {
    position: relative;
    width: 100%;
    height: 256px;
    margin: 0 auto;
    text-align: left;
    margin-top: 100px;
  }

  .why_item_dot {
    width: 33px;
    height: 33px;
    background-color: #FFFFFF;
    border-radius: 15px;
    margin-left: -15px;
    position:absolute;
    left: 50%;
    top: 112px;
    margin-left: -17px;
  }

  .why_item_img {
    display: inline-block;
    width: 256px;
  }


  .why_item_txt {
    display: inline-block;
    width: 256px;
    margin-top: 71px;
    padding-right: 0px;
    padding-left: 20px;
  }
  
  .why_item_txt_title{
    text-align: left;
    font-size: 20px;
  }
  

  .why_item_R {
    padding-right: 20px;
    padding-left: 0px;
  }

  .why_item_img_L {
    margin-left: 5%;
  }
  
  .why_item_img_R {
    margin-right:5%;
  }

  .why_item_img img{
    width: 100%;
    height: auto;
    margin: 0 auto;
  }

  .why_item_R {
    float: right;
  }

  .why_item_line_R{
    position:absolute;
    left: 50%;
    top: 126px;
    width: 15%;
    height: 4px;
    background-color: #FFFFFF;
  }
  
  .why_item_line_L{
    position:absolute;
    left: 50%;
    top: 126px;
    width: 15%;
    height: 4px;
    background-color: #FFFFFF;
    margin-left: -15%;
  }

  .why_br{
    margin: 0 auto;
    margin-top: 50px;
    height: 1620px;
  }

  .introduction_title {
    font-size: 30px;
  }

  .introduction_desc {
    font-size: 15px;
  }

  .applyBtn {
    font-size: 30px;
    width: 289px;
    border-radius: 50px;
  }

  .mobile-only{
    display: none;
  }
}



/*
88888888ba    ,ad8888ba,   
88      "8b  d8"'    `"8b  
88      ,8P d8'            
88aaaaaa8P' 88             
88""""""'   88             
88          Y8,            
88           Y8a.    .a8P  
88            `"Y8888Y"'                                                                                                            
*/
@media screen and (min-width: 1025px) {
  header {
    padding: 0px;
    padding-left: 10px;
  }

  header .FBicon {
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-right: 3vw;
    width: 40px;
    height: 40px;
    background: url('../stuido_asset/images/fbicon.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  header .FBicon {
    margin-right: 2vw;
  }


  .pc-only {
    display: block;
  }

  .price_info_mobile_btn_L, .price_info_mobile_btn_R, .price_info_mobile{
    display: none;
  }

  .price_info {
    overflow-x: hidden;
    list-style: none;
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .price_info_block {
    width: 80%;
  }

  .why_item_txt, .why_item_R {
    padding-right: 0px;
    padding-left: 0px;
  }

  .why_item_line_R{
    position:absolute;
    left: 50%;
    top: 126px;
    width: 180px;
    height: 4px;
    background-color: #FFFFFF;
  }
  
  .why_item_line_L{
    position:absolute;
    left: 50%;
    top: 126px;
    width: 180px;
    height: 4px;
    background-color: #FFFFFF;
    margin-left: -180px;
  }

  .why_item_img_L {
    margin-left: 90px;
  }
  
  .why_item_img_R {
    margin-right: 90px;
  }
}