@import "./size";
@import "./color";

.advantages {
  padding: 50px 10%;

  @media (min-width: $screen-md) {
    padding: 50px 0;
  }

  .title {
    margin: 0 0 50px;
    text-align: center;

    @media (min-width: $screen-md) {
      margin: 0 0 5px;
    }
  }
}

.advantage-box {
  @media (min-width: $screen-md) {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
  }
}

.advantage {
  position: relative;
  display: flex;
  padding: 0 0 50px;

  @media (min-width: $screen-md) {
    width: 25%;
    max-width: 320px;
    height: 600px;
  }

  @media (min-width: $screen-lg) {
    height: 750px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    flex-shrink: 0;
    width: 6px;
    background: $white;

    @media (min-width: $screen-md) {
      height: 6px;
      right: 0;
      top: 50%;
      width: auto;
      transform: translate(0, -50%);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 120px;
    left: 3px;
    width: 24px;
    height: 24px;
    background: $white;
    border-radius: 50%;
    transform: translate(-50%, -50%);

    @media (min-width: $screen-md) {
      left: 50%;
      top: 50%;
    }
  }

  &:nth-child(odd) {
    @media (min-width: $screen-md) {
      padding: 0;
    }

    .advantage-text {
      @media (min-width: $screen-md) {
        padding: 135px 0 0 0;
      }

      @media (min-width: $screen-lg) {
        padding: 190px 0 0 10%;
      }
    }
  }

  &:nth-child(even) {
    @media (min-width: $screen-md) {
      align-items: flex-end;
    }

    .advantage-content {
      @media (min-width: $screen-lg) {
        justify-content: flex-end;
      }

      &::before {
        @media (min-width: $screen-md) {
          top: 36%;
        }

        @media (min-width: $screen-lg) {
          top: 30%;
        }
      }
    }

    .advantage-text {
      @media (min-width: $screen-md) {
        order: -1;
        padding: 0 0 170px 10px;
      }

      @media (min-width: $screen-lg) {
        padding-left: 5%;
        padding-bottom: 190px;
      }
    }
  }

  &:last-child {
    @media (min-width: $screen-md) {
      padding: 0 0 20px;
    }

    .advantage-text {
      @media (min-width: $screen-md) {
        padding-bottom: 200px;
      }

      @media (min-width: $screen-lg) {
        padding-bottom: 220px;
      }
    }
  }
}

.advantage-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 0 0 10px;
  align-items: center;

  @media (min-width: $screen-md) {
    padding: 0;
    justify-content: center;
  }
  @media (min-width: $screen-lg) {
    height: 660px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 120px;
    left: 3px;
    width: 10%;
    height: 3px;
    background: $white;

    @media (min-width: $screen-md) {
      left: initial;
      width: 3px;
      height: 84px;
      top: 50%;
    }

    @media (min-width: $screen-lg) {
      height: 143px;
    }
  }
}

.advantage-img {
  width: 200px;
  height: 200px;
  object-fit: contain;

  @media (min-width: $screen-md) {
    width: 192px;
    height: 192px;
  }

  @media (min-width: $screen-lg) {
    width: 100%;
    max-width: 320px;
    height: 320px;
  }
}

.advantage-text {
  box-sizing: content-box;
  width: 220px;

  @media (min-width: $screen-md) {
    width: 150px;
  }

  @media (min-width: $screen-lg) {
    width: 90%;
    max-width: 256px;
  }
}

.advantage-title {
  margin: 0 0 10px;
  font-size: 20px;
  text-align: center;

  @media (min-width: $screen-md) {
    text-align: left;
  }
}
