@import "./size";

.banner {
  position: relative;
  min-height: calc(100vh - 50px);
  background: center no-repeat;
  background-size: cover;

  &.banner-mask::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.banner-index {
  position: relative;
  background: #1a384d url("~/assets/images/banner-img.png") center bottom no-repeat;
  background-size: contain;

  @media (min-width: $screen-md) {
    min-height: calc(100vw * 600 / 1280);
    background-size: cover;
    background-position: center;
  }
}

.title-text-container {
  position: absolute;
  top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;

  & > * {
    margin: 0;
  }

  @media (min-width: $screen-md) {
    top: initial;
    bottom: 50px;
    padding-left: 10%;

    .text-title {
      white-space: nowrap;
    }

    .text-description {
      width: 410px;
    }
  }
}

.banner-service {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("~/assets/images/banner-service.jpg");

  @media (min-width: $screen-md) {
    min-height: calc(100vw * 1200 / 2560);
  }
}

.hero-text {
  font-size: 50px;

  @media (min-width: $screen-md) {
    font-size: 60px;
  }
}
