@import "./size";

.banner {
  position: relative;
  min-height: calc(100vh - 50px);
  background: #1a384d center no-repeat;
  background-size: cover;

  @media (min-width: $screen-md) {
    min-height: calc(100vw * 600 / 1280);
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.2);
  }

  &.banner--index {
    background-image: url("~/assets/images/banner/index-sm.jpg");

    @media (min-width: $screen-md) {
      background-image: url("~/assets/images/banner/index-md.jpg");
    }
  }

  &.banner--1f {
    background-image: url("~/assets/images/banner/multifunctional.jpg");
  }

  &.banner--2f {
    background-image: url("~/assets/images/banner/co-working-space.jpg");
  }

  &.banner-service {
    background-image: url("~/assets/images/banner/service.jpg");
  }
}

.title-text-container {
  position: absolute;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 20px;

  & > * {
    margin: 0;
  }

  @media (min-width: $screen-md) {
    top: initial;
    bottom: 50px;
    padding-left: 10%;

    .text-title {
      white-space: nowrap;
    }
  }

  .text-description {
    margin-bottom: 0;
    max-width: 410px;
  }
}
