@import "../color";

.intro {
    width: 100%;
    height: 100%;
    max-height: 1480px;
    display: grid;
    grid-template-areas:
        "showcase-a"
        "main-a"
        "showcase-b"
        "main-b"
        "showcase-c"
        "main-c";
    @media (min-width: $screen-md) {
        grid-template: 
            "showcase-a main-a" auto
            "showcase-b main-b" auto
            "showcase-c main-c" auto / 8fr 5fr;
        grid-gap: 1.5%;
    }
}

.showcase {
    min-height: 282px;
}

img.showcase {
    width: 100%;
    height: 100%;
    @media (min-width: $screen-md) {
        object-fit: cover;
    }
}

.showcase-a {
    grid-area: showcase-a; 
}

.showcase-b {
    grid-area: showcase-b; 
}

.showcase-c {
    grid-area: showcase-c; 
}

.main {
    min-height: 167px;
    display: flex;
    background-color: $blue;
    justify-content: center;
    @media (min-width: $screen-md) {
        max-height: 477px;
        display: flex;
        flex-direction: column;
        padding: 8%; 
    }
}

.main-content {
    display: grid;
    grid-template-rows: repeat(3,1fr); 
    justify-self: flex-end;
    padding:0 20px;
    @media (min-width: $screen-md) {
        display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;   
    }
}

.main-title {
    margin: 0;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: flex-end;
    @media (min-width: $screen-md) {
        width: 254px;
        height: 46px;
        padding-top: 12%;
        text-align: center;
        align-self: center;
    }
}

.main-text {
    width: 200px;
    height: 68px;
    margin: 0;
    grid-row: 2 / 4;
    justify-self: center;
    @media (min-width: $screen-md) {
        width: 254px;
        height: 105px;
        padding-left: 1.5%;
        margin: 15% 0 8% 0;
    }
}

#btn-more {
    display: block;
    width: 104px;
    height: 48px;
    border-radius: 30px;
    border: solid 2px $white;
    text-align: center;
    line-height: 48px;
    justify-self: flex-start;
    align-self: center;
    margin: 0 20px;
    @media (min-width: $screen-md) {
        width: 130px;
        height: 60px;
        line-height: 60px;
    }
}

.main-a {
    grid-area: main-a;
}

.main-b {
    grid-area: main-b;
}

.main-c {
    grid-area: main-c;
}
