@import "./size";
@import "./color";

.prices {
  padding: 50px 10%;

  @media (min-width: $screen-md) {
    padding: 50px 0;
  }

  .title {
    @media (min-width: $screen-md) {
      text-align: center;
    }

    small {
      display: block;
      font-size: 1rem;
      margin: 20px 0;
    }
  }
}

.price-container {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    flex-direction: row;
    justify-content: center;
  }
}

.price {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  color: $gray-light;
  font-size: 20px;
  text-align: center;
  background: $white;

  @media (min-width: $screen-md) {
    width: 45%;
    margin: 0;

    & + & {
      margin-left: 30px;
    }
  }

  .text-title {
    line-height: 75px;
  }
}

.price-number {
  position: relative;
  margin: 10px 0 10px 15px;
  align-self: center;
  font-size: 60px;
  letter-spacing: 0.2em;

  &::before {
    content: "NTD";
    position: absolute;
    left: -5%;
    bottom: 95%;
    font-size: 1rem;
    letter-spacing: initial;
  }
}

.price-line {
  height: 60px;
  line-height: 60px;
}

.price-footer {
  height: 70px;
  line-height: 70px;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
}
