@import "./size";
@import "./color";

.prices {
  display: grid;
  padding: 50px 0;

  @media (min-width: $screen-md) {
    padding: 50px 0;
  }

  @media (min-width: $screen-xl) {
    padding: 50px 35px;
    grid-template-columns: 1fr 320px;
  }

  .title {
    padding: 0 0 30px;
    font-size: 30px;
    text-align: center;

    @media (min-width: $screen-md) {
      padding-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      margin: 10px 0 0;
      padding: 0;
    }

    small {
      display: inline-block;
      margin: 0 0 0 10px;
      font-size: 15px;
      white-space: nowrap;

      @media (min-width: $screen-md) {
        width: 0;
        margin: 0;
        transform: translate(1em, 0);
      }

      @media (min-width: $screen-xl) {
        width: auto;
        margin: 0 0 0 10px;
        transform: none;
      }
    }
  }
}

.price-floor-plan {
  position: relative;
  width: 100%;
  padding: 0 0 75%;
  background: center no-repeat;
  background-size: contain;

  &.gallery {
    background-image: url("~/assets/images/floor-plan/gallery.png");
  }

  &.co-working {
    background-image: url("~/assets/images/floor-plan/co-working.png");
  }
}

.floor-plan-button {
  position: absolute;
  width: 60px;
  height: 60px;
  transform: translate(-50%, 0);
  background: center no-repeat;
  background-size: contain;
  cursor: pointer;

  @media (min-width: $screen-md) {
    width: 100px;
    height: 100px;
  }

  &.bounce {
    animation: bounce 0.8s infinite both;
  }

  &.gallery-stair {
    left: 27%;
    bottom: 20%;
    background-image: url("~/assets/images/floor-plan/gallery-stair.png");
  }

  &.gallery-meeting {
    left: 32.5%;
    bottom: 42%;

    [data-meeting="1"] & {
      background-image: url("~/assets/images/floor-plan/gallery-meeting-1.png");
    }
    [data-meeting="2"] & {
      background-image: url("~/assets/images/floor-plan/gallery-meeting-2.png");
    }
  }

  &.gallery-space {
    left: 70%;
    bottom: 55%;

    [data-space="1"] & {
      background-image: url("~/assets/images/floor-plan/gallery-space-1.png");
    }
    [data-space="2"] & {
      background-image: url("~/assets/images/floor-plan/gallery-space-2.png");
    }
  }

  &.co-working-stair {
    left: 76.7%;
    bottom: 59.5%;
    background-image: url("~/assets/images/floor-plan/co-working-stair.png");
  }

  &.co-working-office {
    background-image: url("~/assets/images/floor-plan/co-working-office.png");

    &[data-switch="office1"] {
      left: 20.2%;
      bottom: 58%;
    }
    &[data-switch="office2"] {
      left: 57.6%;
      bottom: 65%;
    }
  }
}

.floor-plan-object {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;

  [data-meeting="2"] &[data-meeting="2"],
  [data-space="2"] &[data-space="2"],
  [data-office1="2"] &[data-office1="2"],
  [data-office2="2"] &[data-office2="2"] {
    opacity: 1;
  }

  &.gallery-space {
    width: 40%;
    top: 21%;
    right: 7.5%;
  }

  &.gallery-meeting {
    width: 4.2%;
    top: 47%;
    left: 30.4%;
  }

  &.co-working-office[data-office1="2"] {
    width: 13.6%;
    top: 36.6%;
    left: 19.8%;
    transform: rotate(-90deg);
  }

  &.co-working-office[data-office2="2"] {
    width: 13.7%;
    top: 37.3%;
    left: 51.1%;
  }
}

.price-cards {
  padding: 5%;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-xl) {
    padding: 0 0 0 20px;
  }
}

.price-main {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    justify-content: center;
    flex-direction: row;
  }

  @media (min-width: $screen-xl) {
    flex-direction: column;
  }
}

.price {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  color: $gray-light;
  font-size: 15px;
  text-align: center;
  background: $white;

  @media (min-width: $screen-md) {
    width: 50%;
    margin: 50px 15px 0;
  }

  @media (min-width: $screen-xl) {
    width: auto;
    margin: 20px 0 0;
  }

  .text-title {
    line-height: 75px;
  }
}

.price-number {
  display: flex;
  padding: 0 15px 0 0;
  align-self: center;
  font-size: 40px;
  letter-spacing: 0.1em;

  &::before {
    content: "NTD";
    margin: 10px 5px 0 0;
    font-size: 12px;
    letter-spacing: initial;
  }

  &.top {
    margin: 10px 0 0;

    &::before {
      width: 0;
      transform: translate(-5px, -20px);
    }
  }
}

.price-line {
  padding: 10px 0 20px;
}

.price-footer {
  min-height: 70px;
  line-height: 70px;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);

  &.price-footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 1.5;
    text-align: left;
  }
}

.price-note {
  font-size: 10px;
}

@keyframes bounce {
  0%, 20%, 53%, 80%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  40%, 43% {
    transform: translate(-50%, -20px);
  }

  40%, 43%, 70% {
    animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  }

  70% {
    transform: translate(-50%, -10px);
  }

  90% {
    transform: translate(-50%, -4px);
  }
}
