@import "./size";
@import "./color";

.prices {
  display: grid;
  padding: 50px 0;

  @media (min-width: $screen-md) {
    padding: 50px 0;
  }

  @media (min-width: $screen-xl) {
    padding: 50px 3%;
    grid-template-columns: 7fr 3fr;
  }

  .title {
    padding: 0 0 30px;

    @media (min-width: $screen-md) {
      text-align: center;
      padding-bottom: 0;
    }

    @media (min-width: $screen-xl) {
      margin: 10px 0 0;
      padding: 0;
      text-align: left;
    }

    small {
      display: inline-block;
      width: 0;
      font-size: 1rem;
      white-space: nowrap;
    }
  }
}

.price-img {
  width: 100%;
  object-fit: cover;

  @media (min-width: $screen-lg) {
    height: 100%;
  }
}

.price-cards {
  padding: 5%;
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-xl) {
    padding: 0 0 0 20px;
  }
}

.price-main {
  display: flex;
  flex-direction: column;

  @media (min-width: $screen-md) {
    justify-content: center;
    flex-direction: row;
  }

  @media (min-width: $screen-xl) {
    flex-direction: column;
  }
}

.price {
  display: flex;
  flex-direction: column;
  margin: 0 0 20px;
  color: $gray-light;
  font-size: 20px;
  text-align: center;
  background: $white;

  @media (min-width: $screen-md) {
    width: 50%;
    margin: 50px 15px 0;
  }

  @media (min-width: $screen-xl) {
    width: auto;
    margin: 20px 0 0;
  }

  .text-title {
    line-height: 75px;
  }
}

.price-number {
  position: relative;
  margin: 10px 0 10px 15px;
  align-self: center;
  font-size: 60px;
  letter-spacing: 0.1em;

  &::before {
    content: "NTD";
    position: absolute;
    left: -5%;
    bottom: 95%;
    font-size: 1rem;
    letter-spacing: initial;
  }
}

.price-line {
  height: 60px;
  line-height: 60px;
}

.price-footer {
  height: 70px;
  line-height: 70px;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
}

.price-footer-1f {
  height: auto;
  line-height: 30px;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding: 5% 10% 5% 3%;
}

.price-note {
  font-size: 10px;
}
