@import "./size";

.service-slide {
  padding: 40px 0;
}

.slide-buttons {
  height: 160px;
  padding: 0 0 30px;
  font-size: 0;
  white-space: nowrap;
  overflow-x: scroll;

  @media (min-width: $screen-md) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 250px;
    padding: 0 30px 30px;
  }
}

.slide-button {
  display: inline-block;
  width: 100px;
  vertical-align: middle;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s;

  @media (min-width: $screen-md) {
    transition: width 0.3s, height 0.3s, opacity 0.3s;
  }

  & + & {
    margin: 0 0 0 10px;
  }

  .service-slide[data-slide="package"] &[data-slide="package"],
  .service-slide[data-slide="translate"] &[data-slide="translate"],
  .service-slide[data-slide="live-stream"] &[data-slide="live-stream"],
  .service-slide[data-slide="transcript"] &[data-slide="transcript"],
  .service-slide[data-slide="internet"] &[data-slide="internet"],
  .service-slide[data-slide="remote"] &[data-slide="remote"] {
    width: 110px;
    opacity: 1;
  }

  @media (min-width: $screen-md) {
    width: 16%;

    .service-slide[data-slide="package"] &[data-slide="package"],
    .service-slide[data-slide="translate"] &[data-slide="translate"],
    .service-slide[data-slide="live-stream"] &[data-slide="live-stream"],
    .service-slide[data-slide="transcript"] &[data-slide="transcript"],
    .service-slide[data-slide="internet"] &[data-slide="internet"],
    .service-slide[data-slide="remote"] &[data-slide="remote"] {
      width: 18%;
    }
  }
}

.slide-contents {
  position: relative;
  height: 375px;

  @media (min-width: $screen-md) {
    height: 500px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.2);
  }
}

.slide-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.5s;

  .service-slide[data-slide="package"] &[data-slide="package"],
  .service-slide[data-slide="translate"] &[data-slide="translate"],
  .service-slide[data-slide="live-stream"] &[data-slide="live-stream"],
  .service-slide[data-slide="transcript"] &[data-slide="transcript"],
  .service-slide[data-slide="internet"] &[data-slide="internet"],
  .service-slide[data-slide="remote"] &[data-slide="remote"] {
    opacity: 1;
    transition: opacity 0.5s 0.3s;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .service-slide[data-slide="package"] &.multi-images[data-slide="package"] img,
  .service-slide[data-slide="translate"] &.multi-images[data-slide="translate"] img,
  .service-slide[data-slide="live-stream"] &.multi-images[data-slide="live-stream"] img,
  .service-slide[data-slide="transcript"] &.multi-images[data-slide="transcript"] img,
  .service-slide[data-slide="internet"] &.multi-images[data-slide="internet"] img,
  .service-slide[data-slide="remote"] &.multi-images[data-slide="remote"] img {
    animation: fade 6s linear alternate infinite;

    & + img {
      animation-delay: -3s;
    }
  }
}

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 0; }
  30% { opacity: 1; }
  70% { opacity: 1; }
  80% { opacity: 0; }
  100% { opacity: 0; }
}

.slide-text {
  position: absolute;
  top: 50px;
  left: 20px;
  right: 20px;
  z-index: 3;

  @media (min-width: $screen-md) {
    top: 90px;
    left: 30px;
    width: 450px;
  }

  .text-title {
    margin: 0 0 25px;
    letter-spacing: 0.4em;
  }

  .text-description {
    font-size: 15px;

    @media (min-width: $screen-md) {
      font-size: 20px;
    }
  }
}
