@import "./size";
@import "./color";

.slide-banner-container {
  position: relative;
}

.slide-images {
  position: relative;
  width: 100vw;
  height: calc(100vh - 50px);
  transition: opacity 1s;

  @media (min-width: $screen-md) {
    height: 50vw;
    max-height: 600px;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.5)
    );
  }
}

.slide-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  transition: opacity 1s;

  .slide-banner-container[data-active="1"] &:nth-child(1),
  .slide-banner-container[data-active="2"] &:nth-child(2),
  .slide-banner-container[data-active="3"] &:nth-child(3) {
    opacity: 1;
  }
}

.banner-text {
  position: absolute;
  bottom: 72px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 18em;

  @media (min-width: $screen-md) {
    text-align: left;
    width: auto;
    bottom: 64px;
    left: 0;
    transform: none;
  }

  > p {
    margin: 0;
    @media (min-width: $screen-md) {
      padding-left: 40px;
    }

    &.text-description {
      @media (min-width: $screen-md) {
        display: none;
      }
    }
  }
}

.arrow-container {
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 20px;
  right: 20px;
  top: 50%;
  transform: translate(0, -50%);

  @media (min-width: $screen-md) {
    opacity: 0;
    transition: opacity 0.5s;
    left: 40px;
    right: 40px;
  }

  .slide-banner-container:hover & {
    opacity: 1;
  }
}

.arrow-right {
  background: url("~/assets/images/button-right.png");
}

.arrow-left {
  background: url("~/assets/images/button-left.png");
}

.arrow {
  width: 44px;
  height: 44px;
  background-size: cover;
  cursor: pointer;

  @media (min-width: $screen-md) {
    width: 55px;
    height: 55px;
  }
}

.pagination {
  position: absolute;
  bottom: 23px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.dot {
  width: 17px;
  height: 17px;
  border-radius: 50%;
  border: solid 2px $blue-light;
  margin: 0 5px;
  cursor: pointer;

  .slide-banner-container[data-active="1"] &[data-index="1"],
  .slide-banner-container[data-active="2"] &[data-index="2"],
  .slide-banner-container[data-active="3"] &[data-index="3"] {
    background-color: $blue-light;
  }
}
