@import "./size";
@import "./color";

$topbar-height: 50px;

.slogan {
  padding: 40px 10%;

  .container {
    display: flex;
    flex-direction: column;

    @media (min-width: $screen-md) {
      flex-direction: row;
      padding: 0 5% 0 0;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.slogan-text {
  @media (min-width: $screen-md) {
    width: 65%;
  }
}

.slogan-image {
  width: 256px;
  height: 256px;
  margin: 10px 0 0;
  align-self: center;

  @media (min-width: $screen-md) {
    order: -1;
    margin: 0;
  }
}
