@import "../size";
@import "../color";
@import "../general";

.slogan {
  padding: 40px 10%;
  background: url("~/assets/images/slogan-wall.jpg") center no-repeat;
  background-size: cover;

  @media (min-width: $screen-md) {
    padding: 5px 0;
  }

  .container {
    > p {
      margin: 10px 0;

      @media (min-width: $screen-md) {
        margin: 54px 0 75px;
      }
    }
  }

  .text-title {
    margin: 60px 0 18px;
    grid-area: a;
    @media (min-width: $screen-md) {
      margin: 0;
    }
  }
}

.slogan-content {
  @media (min-width: $screen-md) {
    display: grid;
    grid-template:
      "a . c"
      "b . c" / 43% auto 52%;
    margin: 0 8% 12% 7%;
  }
}

.slogan-iframe {
  width: 125%;
  margin: 0 -12.5%;
  grid-area: c;
  @media (min-width: $screen-md) {
    margin: 0;
    width: 100%;
  }
}

.text-description {
  margin: 18px 0;
  grid-area: b;
}
