@import "./color";

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: $topbar-height;
  line-height: $topbar-height;
  background: $black;

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;

    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 50px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);

      @media (min-width: $screen-md) {
        background-color: $gray;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100vw;

    @media (min-width: $screen-md) {
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
    }

    a {
      display: block;
      text-align: center;
      transition: background 0.3s;
    }
  }
}

.header-logo {
  height: 20px;
}

.header-icon {
  min-width: $topbar-height;
  min-height: $topbar-height;
  background: url("~/assets/images/icon-facebook.png") center no-repeat;
  background-size: 80%;
}

.header-container {
  @media (min-width: $screen-lg) {
    max-width: 1024px !important;
  }

  &::before {
    content: " ";
    position: absolute;
    height: 100vw;
    width: 100vw;
    border-radius: 50%;
    right: $topbar-height/2;
    top: $topbar-height/2;
    transform: translate(50%, -50%) scale(0);
    transition: transform 0.25s;
    z-index: -1;
    background-color: $blue-light;

    @media (min-width: $screen-md) {
      display: none;
    }

    #menu-control:checked ~ & {
      transform: translate(50%, -50%) scale(3);
    }
  }
}

.menu-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 40px;
  height: 40px;
  font-size: 0;
  cursor: pointer;
  will-change: top;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 5px;
    bottom: 0;
    width: 30px;
    height: 3px;
    margin: auto;
    background: $white;
    border-radius: 10px;
    transition: box-shadow 0.3s, transform 0.3s;

    #menu-control:checked ~ .header-container & {
      box-shadow: 0 0 0 $white;
    }
  }

  &::before {
    box-shadow: 0 -10px 0 $white;
  }

  &::after {
    box-shadow: 0 10px 0 $white;
  }

  #menu-control:checked ~ .header-container & {
    &::before {
      transform: rotate(45deg);
    }
    &::after {
      transform: rotate(-45deg);
    }
  }
}

#menu-control {
  display: none;
}

.header-menu {
  opacity: 0;
  padding: 20px 0 10px;
  pointer-events: none;
  transition: opacity 0.1s 0.06s;

  #menu-control:checked + .container & {
    opacity: 1;
    pointer-events: auto;
    transition: opacity 0.3s 0.1s;
  }

  @media (min-width: $screen-md) {
    position: relative;
    top: 0;
    padding: 0;
    background-color: $black;
    opacity: 1;
    pointer-events: auto;
  }
}
