@import "./color";

$topbar-height: 50px;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: $topbar-height;
  line-height: $topbar-height;
  background: $black;

  &.header-fixed {
    position: fixed;
    z-index: 10;
  }

  .container {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: hidden;
    @media (min-width: $screen-md) {
      flex-wrap: nowrap;
    }
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 50px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.4);

      @media (min-width: $screen-md) {
        background-color: $gray;
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    width: 100vw;

    @media (min-width: $screen-md) {
      flex-direction: row;
      justify-content: flex-end;
      width: auto;
    }

    a {
      display: block;
      text-align: center;
      transition: background 0.3s;
    }
  }
}

.header-logo {
  height: 20px;
}

.header-icon {
  min-width: $topbar-height;
  min-height: $topbar-height;
  background: url("~/assets/images/icon-facebook.png") center no-repeat;
  background-size: 80%;
}

.header-container::before {
  content: " ";
  position: absolute;
  height: 100vw;
  width: 100vw;
  border-radius: 50%;
  right: $topbar-height/2;
  top: $topbar-height/2;
  transform: translate(50%, -50%) scale(0);
  transition: 0.2s;
  z-index: -1;
  background-color: $blue-light;
  @media (min-width: $screen-md) {
    display: none;
  }

  #menu-control:checked ~ & {
    transform: translate(50%, -50%) scale(2.5);
  }
}

.menu-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 1;
  width: 40px;
  height: 40px;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    left: 5px;
    background-color: $white;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 -10px 0 $white;
    transition: 0.2s;
  }

  &::after {
    content: "";
    position: absolute;
    height: 3px;
    width: 30px;
    border-radius: 10px;
    left: 5px;
    background-color: $white;
    top: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 10px 0 $white;
    transition: transform 0.2s;
  }

  & > span {
    display: none;
  }

  #menu-control:checked ~ .header-container & {
    &::before {
      transform: rotate(45deg);
      box-shadow: 0 0 0 $white;
    }
    &::after {
      transform: rotate(-45deg);
      box-shadow: 0 0 0 $white;
    }
  }
}

#menu-control {
  display: none;
}

.header-menu {
  max-height: 0;
  opacity: 0;
  padding-top: 20px;
  pointer-events: none;
  transition: max-height 0s 0.3s, opacity 0.1s 0.06s;

  #menu-control:checked + .container & {
    max-height: 250px;
    opacity: 1;
    pointer-events: auto;
    transition: height 0s, opacity 0.2s 0.06s;
  }

  @media (min-width: $screen-md) {
    position: relative;
    top: 0;
    max-height: auto;
    padding: 0;
    background-color: $black;
    opacity: 1;
    pointer-events: auto;
  }
}
