@import "./color";

$topbar-height: 50px;

.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 3;
  height: $topbar-height;
  line-height: $topbar-height;
  background: $black;

  &.header-fixed {
    position: fixed;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);

    &.active {
      background: $black;
    }
  }

  .container {
    display: flex;
    justify-content: space-between;
  }

  a {
    display: flex;
    align-items: center;
    padding: 0 15px;
    transition: background 0.3s;

    &:hover {
      background-color: $gray;
    }
  }

  &.header-fixed a:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
}

.header-logo {
  height: 20px;
}

.header-menu ul {
  display: flex;
}

.header-icon {
  min-width: $topbar-height;
  min-height: $topbar-height;
  background: url("~/assets/images/icon-facebook.png") center no-repeat;
  background-size: 80%;
}
