<div class="advantages bg-blue">
  <div class="container container-narrow">
    <div class="title">
      為何選擇
      <br class="hide-md" />
      mutix Studio？
    </div>
    <div class="advantage">
      <div class="advantage-content">
        <img class="advantage-img" alt="交通便利" src="~/assets/images/advantage-traffic.png" />
        <div class="advantage-text">
          <div class="advantage-title">交通便利</div>
          <div class="advantage-description">距離捷運松山站 2 分鐘的步行路程，雙鐵共構。</div>
        </div>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage-content">
        <img class="advantage-img" alt="周邊機能佳" src="~/assets/images/advantage-convenient.png" />
        <div class="advantage-text">
          <div class="advantage-title">周邊機能佳</div>
          <div class="advantage-description">近郵局、銀行、火車站、公園、餐廳、咖啡廳、夜市。</div>
        </div>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage-content">
        <img class="advantage-img" alt="交流機會多" src="~/assets/images/advantage-chat.png" />
        <div class="advantage-text">
          <div class="advantage-title">交流機會多</div>
          <div class="advantage-description">藝術與數位的交集，可有多次機會免費參加一樓藝術展演、講座等交流聚會活動。</div>
        </div>
      </div>
    </div>
    <div class="advantage">
      <div class="advantage-content">
        <img class="advantage-img" alt="公共空間大" src="~/assets/images/advantage-space.png" />
        <div class="advantage-text">
          <div class="advantage-title">公共空間大</div>
          <div class="advantage-description">一樓入口處設有戶外庭院，給自己暫時喘息的時間與空間。</div>
        </div>
      </div>
    </div>
  </div>
</div>
