<div class="advantages bg-blue">
  <div class="container">
    <div class="title">
      為何選擇
      <br class="hide-md" />
      mutix Studio？
    </div>
    <div class="advantage-box">
      <div class="advantage">
        <div class="advantage-content">
          <img class="advantage-img" alt="交通便利" src="~/assets/images/advantage/traffic.png" />
          <div class="advantage-text">
            <div class="advantage-title">交通便利</div>
            <div class="advantage-description">距離捷運松山站 2 分鐘的步行路程，雙鐵共構。</div>
          </div>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage-content">
          <img class="advantage-img" alt="周邊機能佳" src="~/assets/images/advantage/convenient.png" />
          <div class="advantage-text">
            <div class="advantage-title">周邊機能佳</div>
            <div class="advantage-description">近郵局、銀行、火車站、公園、餐廳、咖啡廳、夜市。</div>
          </div>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage-content">
          <img class="advantage-img" alt="多樣加值服務" src="~/assets/images/advantage/chat.png" />
          <div class="advantage-text">
            <div class="advantage-title">多樣加值服務</div>
            <div class="advantage-description">除軟硬體設備免費提供外，也提供多樣加值服務：資訊、會計、法律相關需求、商業登記等。幫助個人與團隊提升工作產能、無後顧之憂。</div>
          </div>
        </div>
      </div>
      <div class="advantage">
        <div class="advantage-content">
          <img class="advantage-img" alt="公共空間大" src="~/assets/images/advantage/space.png" />
          <div class="advantage-text">
            <div class="advantage-title">公共空間大</div>
            <div class="advantage-description">一樓室內外寬闊的公共空間，給自己暫時喘息的時間與空間。如欲租借 1F 多功能活動區，可享有住戶專屬優惠。</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
