<header class="header header-fixed contact-header">
  <input type="checkbox" id="menu-control" />
  <div class="container cotact-container">
    <a href="/">
      <img
        class="header-logo"
        alt="mutix Studio"
        src="~/assets/images/logo.png"
      />
    </a>
    <label for="menu-control" class="menu-btn hide-md">
      <span>選單</span>
    </label>
    <nav class="header-menu contact-header-menu">
      <ul id="menu">
        <li><a href="">多功能藝廊區</a></li>
        <li><a href="">共同工作空間</a></li>
        <li><a href="">額外服務</a></li>
        <li><a href="">連絡我們</a></li>
        <li class="hide-sm">
          <a
            class="header-icon"
            title="mutix Studio"
            href="https://www.facebook.com/mutixstudio"
            target="_blank"
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
