<div class="container">
  <div class="slide reverse">
    <img
      class="slide__img"
      src="~/assets/images/slide/co-working-space-1.jpg"
      alt="共同工作空間"
    />
    <div class="slide__text">
      <div>
        <h4 class="text-title">專屬辦公座位</h4>
        <p class="text-description">在開放式工作區擁有個人固定坐位，可在專屬座位自由擺放、收納私人用品，適合 1 人租借使用。</p>
      </div>
    </div>
  </div>
  <div class="slide">
    <img
      class="slide__img"
      src="~/assets/images/slide/co-working-space-2.jpg"
      alt="共同工作空間"
    />
    <div class="slide__text">
      <div>
        <h4 class="text-title">私人辦公空間</h4>
        <p class="text-description">擁有一間獨立辦公室，配有基本桌椅，適合 4-6 人團隊入駐。也可合併兩間，容納 7-10 人使用。</p>
      </div>
    </div>
  </div>
</div>
