<main class="intro">
  <img
    class="showcase"
    src="~/assets/images/banner-img.jpg"
    alt="多功能藝廊區"
  />
  <div class="main bg-blue">
    <div class="main-content">
      <h4 class="main-title text-title">1F｜多功能藝廊區</h4>
      <p class="main-text text-description">
        適合舉辦中小型講座、論壇、動態藝術展演、靜態作品展覽等多種類型藝文活動，試圖成為一個能讓不同領域創作者、藝術家激盪創意與靈感的場域。
      </p>
    </div>
    <a href="" class="btn-more">查看更多</a>
  </div>
  <img
    class="showcase"
    src="~/assets/images/banner-img.jpg"
    alt="共同工作空間"
  />
  <div class="main bg-blue">
    <div class="main-content">
      <h4 class="main-title text-title">2F｜共同工作空間</h4>
      <p class="main-text text-description">
        適合各種領域的工作者進駐，不論是個人自由工作者或是微型的創作團隊，都能一起在這互相交流分享，甚至創造出意想不到的跨界合作機會。
      </p>
    </div>
    <a href="" class="btn-more">查看更多</a>
  </div>
  <img
    class="showcase"
    src="~/assets/images/banner-img.jpg"
    alt="額外服務"
  />
  <div class="main bg-blue">
    <div class="main-content">
      <h4 class="main-title text-title">額外服務</h4>
      <p class="main-text text-description">
        提供同步口譯、專業直播、逐字稿、活動統包等服務，在軟硬體設備與服務人員的搭配之下，創造更優質的活動體驗。
      </p>
    </div>
    <a href="" class="btn-more">查看更多</a>
  </div>
</main>
