<div class="container">
  <div class="slide-list" data-active="1">
    <div class="slide-list__button slide-list__button--left" data-direction="-1"></div>
    <div class="slide-list__button slide-list__button--right" data-direction="+1"></div>

    <div class="slide reverse">
      <img
        class="slide__img"
        src="~/assets/images/slide/multifunction-1.jpg"
        alt="多功能活動區"
      />
      <div class="slide__text">
        <div>
          <h4 class="text-title">桌椅型</h4>
          <p class="text-description">桌椅同時擺放，可容納 20-30 人，適合課程、會議...等活動。</p>
        </div>
      </div>
    </div>
    <div class="slide reverse">
      <img
        class="slide__img"
        src="~/assets/images/slide/multifunction-1.jpg"
        alt="多功能活動區"
      />
      <div class="slide__text">
        <div>
          <h4 class="text-title">座椅型</h4>
          <p class="text-description">純座椅擺放可容納 30-50 人，適合講座、論壇、記者會...等活動。</p>
        </div>
      </div>
    </div>
    <div class="slide reverse">
      <img
        class="slide__img"
        src="~/assets/images/slide/multifunction-1.jpg"
        alt="多功能活動區"
      />
      <div class="slide__text">
        <div>
          <h4 class="text-title">分組型</h4>
          <p class="text-description">可分 5-6 組，每組 4-6 人，可容納 20-36 人。適合工作坊、實作課程...等需小組討論的活動。</p>
        </div>
      </div>
    </div>
    <div class="slide reverse">
      <img
        class="slide__img"
        src="~/assets/images/slide/multifunction-1.jpg"
        alt="多功能活動區"
      />
      <div class="slide__text">
        <div>
          <h4 class="text-title">戶外空間使用</h4>
          <p class="text-description">租借室內場地外，戶外空間也可做：報到處、外燴擺放、室外交流空間...等功能使用。</p>
        </div>
      </div>
    </div>
  </div>
</div>
