<div class="prices">
  <div class="anchor" id="price"></div>
  <div class="price-container">
    <img
      class="price-img"
      src="~/assets/images/banner-img.jpg"
      alt="多功能藝廊區"
    />
    <div class="price-description">
      <div class="title title-1f">
        收費方式
        <small>建議人數 ｜ 30-50 人</small>
      </div>
      <div class="price-description">
        <div class="price">
          <div class="text-title">多功能藝廊區</div>
          <div class="price-number">8,000</div>
          <div class="price-line">每時段 (4小時)</div>
          <div class="price-footer-1f">
            <div>
              出租時段
              <br />
              週一至週日
            </div>
            <div>
              08:00-12:00
              <br />
              13:00-17:00
              <br />
              18:00-22:00
            </div>
          </div>
        </div>
        <div class="price">
          <div class="text-title">6-8人會議室</div>
          <div class="price-number">250</div>
          <div class="price-line">每間每小時</div>
          <div class="price-footer-1f">
            <div>
              出租時段
              <br />
              週一至週日
            </div>
            <div>
              <span class="price-note">每次最少租用一小時。</span>
              <br />
              08:00-22:00
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
