<div class="price-cards">
  <div class="title">收費方式</div>
  <div class="price-main">
    <div class="price">
      <div class="text-title">專屬辦公座位</div>
      <div class="price-number top">6,000</div>
      <div class="price-line">每人每月</div>
      <div class="price-footer">適合 1 人</div>
    </div>
    <div class="price">
      <div class="text-title">私人辦公空間</div>
      <div class="price-number top">45,000</div>
      <div class="price-line">每間每月</div>
      <div class="price-footer">適合 4-6 人</div>
    </div>
  </div>
</div>
