<div class="container prices">
  <div class="price-floor-plan multifunction" data-meeting="1" data-space="1">
    <img class="floor-plan-object multifunction-space" data-space="2" src="~/assets/images/floor-plan/multifunction-space-object.png" alt="" />
    <img class="floor-plan-object multifunction-meeting" data-meeting="2" src="~/assets/images/floor-plan/multifunction-meeting-object.png" alt="" />

    <a class="floor-plan-button multifunction-stair" href="/co-working-space"></a>
    <div class="floor-plan-button multifunction-meeting" data-switch="meeting"></div>
    <div class="floor-plan-button multifunction-space" data-switch="space"></div>
  </div>
  <div class="price-cards">
    <div class="title">收費方式<small>建議人數 ｜ 30-50 人</small></div>
    <div class="price-main">
      <div class="price">
        <div class="text-title">多功能活動區</div>
        <div class="price-number">6,000</div>
        <div class="price-line">每時段 (3小時)</div>
        <div class="price-footer price-footer-grid">
          <div>
            出租時段
            <br />
            週一至週日
          </div>
          <div>
            <span class="price-note">*贈前後半小時進撤場時間</span><br />09:00-22:00
          </div>
        </div>
      </div>
      <div class="price">
        <div class="text-title">2-6人會議室</div>
        <div class="price-number">250</div>
        <div class="price-line">每間每小時</div>
        <div class="price-footer price-footer-grid">
          <div>
            出租時段
            <br />
            週一至週日
          </div>
          <div>
            <span class="price-note">*每次最少租用一小時</span><br />09:00-22:00
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
