<div class="services bg-blue">
  <div class="title">軟硬體設備提供</div>
  <div class="service-container">
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">
        120*70cm 桌子乙張/每人
      </div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">24/7 門禁系統</div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">
        高速網路 2Gbps 對外頻寬
      </div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">代收信件、包裹服務</div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">
        熱水淋浴間、育嬰室
      </div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">
        會議室、電話亭 免費使用額度
      </div>
    </div>
    <div class="service">
      <div class="service-image service-image-2f"></div>
      <div class="service-text text-description wide">
        A3 印表機 免費使用額度
      </div>
    </div>
  </div>
</div>
