<div class="services bg-blue">
  <div class="title">軟硬體設備提供</div>
  <div class="service-container">
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">無線網路</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">電線插座</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">音響設備</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">各式桌椅</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">投影幕、移動<br />電視</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">移動白板、指<br />示立牌</div>
    </div>
    <div class="service">
      <div class="service-image service-image-1f-1"></div>
      <div class="service-text text-description">多功能廁所</div>
    </div>
  </div>
</div>
