<section class="service-slide package">
  <div class="container">
    <div class="slide-buttons">
      <img class="slide-button" alt="活動統包服務" data-slide="package" src="~/assets/images/button-service-package.png" />
      <img class="slide-button" alt="同步口譯" data-slide="translate" src="~/assets/images/button-service-translate.png" />
      <img class="slide-button" alt="專業直播" data-slide="live-stream" src="~/assets/images/button-service-live-stream.png" />
      <img class="slide-button" alt="逐字稿服務" data-slide="transcript" src="~/assets/images/button-service-transcript.png" />
      <img class="slide-button" alt="會場網路服務" data-slide="internet" src="~/assets/images/button-service-internet.png" />
    </div>

    <div class="slide-contents">
      <div class="slide-content multi-images" data-slide="package">
        <img src="~/assets/images/slide-service-package-1.jpg" alt="活動統包服務" />
        <img src="~/assets/images/slide-service-package-2.jpg" alt="活動統包服務" />
        <div class="slide-text">
          <div class="text-title">活動統包服務</div>
          <div class="text-description">協助舉辦於 Cymking Space 的各式活動，包括講座／發表會／工作坊等各式活動，從企劃到執行與宣傳的統包式服務。</div>
        </div>
      </div>
      <div class="slide-content multi-images" data-slide="translate">
        <img src="~/assets/images/slide-service-translate-1.jpg" alt="同步口譯" />
        <img src="~/assets/images/slide-service-translate-2.jpg" alt="同步口譯" />
        <div class="slide-text">
          <div class="text-title">同步口譯服務</div>
          <div class="text-description">提供 auXala 同步口譯服務，並可代為安排英日語口譯員。</div>
        </div>
      </div>
      <div class="slide-content multi-images" data-slide="live-stream">
        <img src="~/assets/images/slide-service-live-stream-1.jpg" alt="專業直播" />
        <img src="~/assets/images/slide-service-live-stream-2.jpg" alt="專業直播" />
        <div class="slide-text">
          <div class="text-title">專業直播服務</div>
          <div class="text-description">提供專業 OBS 專業直播服務，並可代為安排錄影及音控團隊。</div>
        </div>
      </div>
      <div class="slide-content" data-slide="transcript">
        <img src="~/assets/images/slide-service-transcript.jpg" alt="逐字稿服務" />
        <div class="slide-text">
          <div class="text-title">即時字幕／逐字稿服務</div>
          <div class="text-description">提供 UDTalk 即時字幕服務，適合紀錄逐字稿。</div>
        </div>
      </div>
      <div class="slide-content" data-slide="internet">
        <img src="~/assets/images/slide-service-internet.jpg" alt="會場網路服務" />
        <div class="slide-text">
          <div class="text-title">會場網路服務</div>
          <div class="text-description">提供 Ruckus 高密度無線網路服務，並可代為申請對外頻寬。</div>
        </div>
      </div>
    </div>
  </div>
</section>
