<div class="prices">
  <div class="anchor" id="price"></div>
  <div class="container">
    <div class="title">方案與價格</div>
  </div>
  <div class="container container-main" data-price="1">
    <div class="price-main">
      <div class="price-button price-button--left" data-direction="-1"></div>
      <div class="price-button price-button--right" data-direction="+1"></div>
      <div class="price-container">
        <div class="price">
          <div class="text-title">遠端會議</div>
          <div class="price-section">
            <div class="price-number">250</div>
            <ul class="price-list" data-head="包含">
              <li>空間租用費（以小時計費）</li>
              <li>WiFi 最大連線數 100 個裝置</li>
              <li>WiFi 最大涵蓋範圍 300 坪單一會議廳</li>
            </ul>
          </div>
          <div class="price-section price__footer">
            <a class="button-md" target="mutix-service-details" href="https://bit.ly/2G8F9tk">詳細資訊</a>
          </div>
        </div>
        <div class="price">
          <div class="text-title">專業直播</div>
          <div class="price-section">
            <div class="price-number">12,000</div>
            <ul class="price-list" data-head="包含">
              <li>同步 720p 直播兩個平台</li>
              <li>單機固定鏡位</li>
            </ul>
          </div>
          <div class="price-section price__footer">
            <ul class="price-list" data-head="可增購">
              <li>講者與簡報子母畫面</li>
              <li>雙機多鏡位運鏡</li>
              <li>同步 1080p 錄影</li>
              <li>同步多語言直播</li>
              <li>影片後製剪輯</li>
            </ul>
          </div>
        </div>
        <div class="price">
          <div class="text-title">同步口譯</div>
          <div class="price-section">
            <div class="price-number">12,000</div>
            <ul class="price-list" data-head="包含">
              <li>最多 100 位聽眾</li>
              <li>1 個頻道，可由 2 位口譯員雙語切換</li>
            </ul>
          </div>
          <div class="price-section price__footer">
            <ul class="price-list" data-head="可增購">
              <li>最多 4 種頻道同步 4 種語言</li>
              <li>最多 1000 位聽眾</li>
              <li>同步多語言錄音</li>
            </ul>
          </div>
        </div>
        <div class="price">
          <div class="text-title">會場網路</div>
          <div class="price-section">
            <div class="price-number">12,000</div>
            <ul class="price-list" data-head="包含">
              <li>最大 500Mb ps 對外頻寬</li>
              <li>WiFi 最大連線數 100 個裝置</li>
              <li>WiFi 最大涵蓋範圍 300 坪單一會議廳</li>
            </ul>
          </div>
          <div class="price-section price__footer">
            <ul class="price-list" data-head="可增購">
              <li>最大 2Gbps 對外頻寬</li>
              <li>WiFi 最大連線數 1000 個裝置</li>
              <li>最多 10 個有線網路 RJ45 接口</li>
              <li>最多 4 個會議廳</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <a class="button-md" target="mutix-service-apply" href="https://docs.google.com/forms/d/e/1FAIpQLSfgWkudTvpFQkr8jVGPxrBazaYHaCfNdtFpj4pnH4coIK0iLQ/viewform">服務方案申請</div></a>
  </div>
</div>
