<div class="services">
  <div class="container">
    <div class="title">
      硬體資訊與服務
      <small>兩種方案，皆包含下列服務</small>
    </div>
  </div>
  <div class="service-container">
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">120*70cm 桌子乙張/每人</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">7/24 門禁系統</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">高速網路 2Gbps 對外頻寬</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">代收信件、包裹服務</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">熱水淋浴間、育嬰室</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">會議室、電話亭 免費使用額度</div>
    </div>
    <div class="service">
      <div class="service-image"></div>
      <div class="service-text">A3 印表機 免費使用額度</div>
    </div>
  </div>
</div>
