<section class="slide-banner">
  <div class="slide-banner-container" data-active="1">
    <div class="slide-images">
      <img class="slide-image" src="./assets/images/banner-2f-1.jpg" alt="" />
      <img class="slide-image" src="./assets/images/banner-2f-2.jpg" alt="" />
      <img class="slide-image" src="./assets/images/banner-2f-3.jpg" alt="" />
    </div>
    <div class="arrow-container">
      <div class="arrow arrow-left"></div>
      <div class="arrow arrow-right"></div>
    </div>
    <div class="banner-text">
      <p class="title">2F｜共同工作空間</p>
    </div>
    <div class="pagination">
      <div class="dot" data-index="1"></div>
      <div class="dot" data-index="2"></div>
      <div class="dot" data-index="3"></div>
    </div>
  </div>
</section>
