<section class="slide-banner">
  <div class="slide-banner-container" data-active="1">
    <div class="slide-images">
      <div class="slide-image" style="background-image: url('/assets/images/banner-1f-1.jpg')"></div>
      <div class="slide-image" style="background-image: url('/assets/images/banner-1f-2.jpg')"></div>
      <div class="slide-image" style="background-image: url('/assets/images/banner-1f-3.jpg')"></div>
    </div>
    <div class="arrow-container">
      <div class="arrow arrow-left"></div>
      <div class="arrow arrow-right"></div>
    </div>
    <div class="banner-text">
      <p class="title">1F｜多功能藝廊區</p>
      <p class="text-description">建議人數 ｜ 30-50 人</p>
    </div>
    <div class="pagination">
      <div class="dot" data-index="1"></div>
      <div class="dot" data-index="2"></div>
      <div class="dot" data-index="3"></div>
    </div>
  </div>
</section>
