<div class="slogan">
  <div class="container">
    <p class="neon-sign">m<span>u</span>t<span>i</span>x Studio</p>
    <div class="slogan-content">
      <div class="text-title">為日常注入創意能量，創作者／自由工作者／微型團隊的群聚空間。</div>
      <img class="slogan-image" src="https://via.placeholder.com/400x211" />
      <p class="text-description">承襲著「職人的創作訂閱平台—— mutix」的理念，mutix Studio將成為一個，讓創作職人展現自己作品，讓不同領域工作者碰撞創意火花的場域！在這裡，我們提供既簡潔又多功能的場地，給予創作者最大的空間能自由揮灑；在這裡，我們致力提供完善的軟硬體服務，幫助個人與團隊提升工作產能、無後顧之憂。mutix Studio，串起線上線下的連結，我們始終相信，人與人的真實接觸與交流，必定遠遠大於在社群平台上的萍水相逢。</p>
    </div>
  </div>
</div>
