<div class="slogan">
  <div class="container">
    <p class="neon-sign"><span>m</span>utix <span>S</span>tudio</p>
    <div class="slogan-content">
      <div class="text-title">為日常注入創意能量，活動主／自由工作者／微型團隊的群聚空間。</div>
      <div class="slogan-media">
        <div class="slogan-iframe">
          <iframe id="vimeo-iframe" src="https://player.vimeo.com/video/395887655?background=1&loop=1&title=0&byline=0&portrait=0" width="640" height="361" frameborder="0" allow="fullscreen" allowfullscreen></iframe>
        </div>
      </div>
      <p class="text-description">mutix Studio 致力於創造一個讓不同領域的人能碰撞創意火花的場域！在【1F｜場租空間】，我們提供簡潔、多功能、設備完善的多功能活動區及會議室，給予活動主最大的空間能自由揮灑；在【2F｜共同工作空間】，我們提供完善的軟硬體服務，幫助個人與團隊提升工作產能、無後顧之憂。mutix Studio，串起線上線下的連結，我們始終相信，人與人的真實接觸與交流，必定遠遠大於在社群平台上的萍水相逢。</p>
    </div>
  </div>
</div>
<div id="vimeo-stop"></div>
