<header class="header">
  <input type="checkbox" id="menu-control" />
  <div class="container header-container">
    <a href="/">
      <img
        class="header-logo"
        alt="mutix Studio"
        src="~/assets/images/logo.png"
      />
    </a>
    <label for="menu-control" class="menu-btn hide-md">
      <span>選單</span>
    </label>
    <nav class="header-menu">
      <ul id="menu">
        <li><a href="/gallery">多功能藝廊區</a></li>
        <li><a href="/co-working-space">共同工作空間</a></li>
        <li><a href="/service" target="mutix-service">額外服務</a></li>
        <li><a href="/contact">聯絡我們</a></li>
        <li class="hide-sm">
          <a
            class="header-icon"
            title="mutix Studio"
            href="https://www.facebook.com/mutixstudio"
            target="mutix-facebook"
          ></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
