
html {
  scroll-behavior: smooth;
  font-family: 'Microsoft JhengHei', '微軟正黑體','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.pure-g [class*=pure-u] {
  font-family: 'Microsoft JhengHei', '微軟正黑體','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}


body {
  background-color: #000000;
  font-size: 15px;
  font-weight: 600;
  color: #FFFFFF;
  overflow-x: hidden;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.g-title {
  font-size: 25px;
  font-weight: 600;
  color: #FFFFFF;
}

.bg-blue {
  background-color: #0f1526;
}

a:link {
  color: #FFFFFF;
  text-decoration: none;
}
a:visited {
  color: #FFFFFF;
}
a:hover {
  color: #FFFFFF;
}
a:active {
  color: #FFFFFF;
}


/* 
88b           d88             88          88 88             
888b         d888             88          "" 88             
88`8b       d8'88             88             88             
88 `8b     d8' 88  ,adPPYba,  88,dPPYba,  88 88  ,adPPYba,  
88  `8b   d8'  88 a8"     "8a 88P'    "8a 88 88 a8P_____88  
88   `8b d8'   88 8b       d8 88       d8 88 88 8PP"""""""  
88    `888'    88 "8a,   ,a8" 88b,   ,a8" 88 88 "8b,   ,aa  
88     `8'     88  `"YbbdP"'  8Y"Ybbd8"'  88 88  `"Ybbd8"'                                                 
*/

header .container {
  height: 50px;
  line-height: 50px;
}

header {
  position: fixed;
  z-index: 999;
  top: 0;
  padding-left: 10px;
  width: 100vw;
  height: 50px;
  line-height: 50px;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.2);
}

header .logo {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
}

header .title {
  display: inline-block;
  height: 20px;
}

header .menu {
  display: block;
  float: right;
}

header ul {
  list-style-type: none; padding: 0; margin: 0;
}

header ul li {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal; 
  margin-right: 2vw;
}

header ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

header ul li a:link {
  color: #FFFFFF;
}
header ul li a:visited {
  color: #FFFFFF;
}
header ul li a:hover {
  color: #FFFFFF;
}
header ul li a:active {
  color: #FFFFFF;
}

footer {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  padding: 22px 0px;
}

h1 {
  font-size: 50px;
  font-weight: 600;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 10px;
}

h3 {
  font-size: 24px;
  letter-spacing: 10px;
}

.margin0{
  margin: 0;
}

.mobile-only{
  display: block;
}
.pc-only {
  display: none;
}

.center {
  text-align: center;
}

.NTD::before {
  content:"NTD";
  position: absolute;
  margin-top: -35px;
  margin-left: -10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
}

.START::after {
  content:"起";
  position: absolute;
  margin-top: 20px;
  margin-left: -10px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: normal;
}

.section_banner {
  text-align: center;
  width: 100vw;
  overflow: hidden;
  height: 100vh;
  background: url('../images/banner.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.section_banner_title_1{
  margin-top: 38vh;
  margin-bottom: 0px;
}

.section_banner_title_2{
  margin-top: 0px;
  margin-bottom: 0px;
  letter-spacing: 20px;
}

.section_service {
  padding-top: 40px;
  padding-bottom: 40px;
}

.service_menu {
  height: auto;
  padding-bottom: 30px;
}

.service_icon {
  width: 80%;
  height: auto;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
}

.service_icon_hover{
  width: 85%;
  opacity: 1.0;
}

.service_icon:active{
  width: 85%;
  cursor: pointer;
  opacity: 1.0;
}

.service_info_main {
  position: relative;
  width: 100%;
  height: 375px;
}

.service_info_main_txt {
  margin-left: 10px;
  padding-right: 10px;
}

.service_info_main_mask,.service_info_main_bg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 375px;
}

.service_info_main_bg{
  z-index: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity:1;
  transition: opacity 1s linear;
  -moz-transition: opacity 1s linear;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
}

.service_info_main_mask {
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.service_info_main_block{
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 375px;
}

.service_info_sub {
  margin-left: 2%;
  padding-top: 35px;
  padding-bottom: 35px;
}

.service_info_sub ul{
  list-style-type: none;
  position: relative;
  padding-inline-start: 20px;
}

.service_info_sub ul li::before{
  position: absolute;
  margin-top: 4px;
  content: "";
  width: 13px;
  height: 13px;
  background-color: #FFFFFF;
  left: 0;
  border-radius: 50%;
}

.price_banner {
  margin-top: 55px;
  padding-top: 35px;
  padding-bottom: 35px;
  text-align: center;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 13px;
}

.equipment_r_1{
  display: inline-block;
  width: 16.71875%
}

.equipment_r_2{
  display: inline-block;
  width: 33.3670%;
}

.equipment_r_2{
  display: inline-block;
  width: 33.3670%;
}

.section_equipment img{
  display: block;
  width: 100%;
  height: auto;
}

.price_info {
  overflow-x: auto;
  list-style: none;
  white-space:nowrap;
  width: auto;
  margin-top: 10px;
  padding: 0;
  padding-top: 20px;
}

::-webkit-scrollbar {
  display: none;
}

.price_info_block {
  position: relative;
  padding: 15px 0px 20px 0px;
  background-color: #FFFFFF;
  color: #423c3b;
  width: 80%;
  min-width: 330px;
  margin: 0 auto;
  height: 450px;
  margin-bottom: 80px;
}

.price_info_title{
  text-align: center;
  font-size: 25px;
  height: 60px;
  line-height: 60px;
  margin-bottom: 10px;
}

.price_info_block_price {
  height: 70px;
  line-height: 70px;
  font-size: 60px;
  font-weight: 600;
  letter-spacing: 12px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 10px;
  text-align: center;
}

.price_info_block_contant {
  position: relative;
  text-align: left;
  padding-left: 40px;
  padding-right: 30px;
}

.price_info_block_subtitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

.price_info_block_desc {
  line-height: 25px;
  margin-bottom: 25px;
  font-size: 15px;
  white-space: normal;
}

.price_info_block_desc ul {
  list-style-type: none;
  position: relative;
  padding-inline-start: 15px;
}

.price_info_block_desc ul li::before{
  position: absolute;
  margin-top: 8px;
  content: "";
  width: 8px;
  height: 8px;
  background-color: #423c3b;
  left: 0;
  border-radius: 50%;
}

.price_info_block_topshadow{
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: #ffffff;
  padding-top: 20px;
}

.price_info_mobile_btn_L, .price_info_mobile_btn_R{
  width: 65px;
  height: 65px;
  position: absolute;
  cursor: pointer;
  top: 0px;
  margin-top: -30px;
  z-index: 3;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.price_info_mobile_btn_L{
  background-image: url('../images/studi_left.png');
  left: 0px;
  margin-left: -6%;
}

.price_info_mobile_btn_R{
  background-image: url('../images/studi_right.png');
  right: 0px;
  margin-right: -6%;
}

/*
.price_info_mobile_btn_L::after, .price_info_mobile_btn_R::after{
  content: " ";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-top: 5px solid #bd4843;
  border-right: 5px solid #bd4843;
  z-index: 4;
  margin-top: 24px;
  margin-left: 22px;
}

.price_info_mobile_btn_L::after{
  transform: rotate(225deg);
  margin-left: 25px;
}

.price_info_mobile_btn_R::after{
  transform: rotate(45deg);
}
*/

.section_price{
  position: relative;
}

.section_partner{
  margin-top: 90px;
  position: relative;
  background-color: #0f1526;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section_partner img{
  display: inline-block;
  width: 100px;
  height: 100px;
}

.section_partner_title{
  width: 100%;
  position: absolute;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.41;
  letter-spacing: 12.8px;

  top: 0;
  margin-top: -19px;
}

.applyBtn {
  margin: 0 auto;
  width: 80%;
  width: 295px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #306c9b;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  margin-bottom: 100px;
}

.service_menu_pc {
  display: none;
}



.service_menu_mobile {
  White-space: nowrap;
  overflow-x: auto;
}

.service_menu_mobile img{
  display: inline-block;
  margin-right: 10px;
}
.service_menu_mobile .service_icon {
  width: 100px;
}

.service_menu_mobile .service_icon_hover{
  width: 110px;
}

.service_menu_mobile .service_icon:active{
  width: 110px;
  cursor: pointer;
}

/*                                                  
888888888888       88          88                     
     88            88          88              ,d     
     88            88          88              88     
     88 ,adPPYYba, 88,dPPYba,  88  ,adPPYba, MM88MMM  
     88 ""     `Y8 88P'    "8a 88 a8P_____88   88     
     88 ,adPPPPP88 88       d8 88 8PP"""""""   88     
     88 88,    ,88 88b,   ,a8" 88 "8b,   ,aa   88,    
     88 `"8bbdP"Y8 8Y"Ybbd8"'  88  `"Ybbd8"'   "Y888  
*/


@media screen and (min-width: 768px) {

  body {
    font-size: 20px;
  }
  
  header .logo {
    display: inline-block;
    height: 20px;
  }
  
  header .title {
    display: inline-block;
    height: 20px;
  }
  h1 {
    font-size: 60px;
    font-weight: 600;
  }

  h2 {
    font-size: 30px;
    letter-spacing: 12px;
  }

  h3 {
    font-size: 30px;
    letter-spacing: normal;
  }

  .g-title {
    font-size: 50px;
  }

  .mobile-only{
    display: none;
  }

  .section_banner {
    height: 600px;
  }

  .section_banner_title_1{
    margin-top: 200px;
    margin-bottom: 0px;
  }
  
  .section_banner_title_2{
    margin-top: 0px;
    margin-bottom: 0px;
    letter-spacing: 24px;
  }

  .service_info_main {
    position: relative;
    margin-top: 40px;
    width: 100%;
    height: 500px;
  }

  .service_info_sub ul li::before{
    margin-top: 8px;
  }

  .service_info_main_mask, .service_info_main_block, .service_info_main_bg {
    height: 500px;
  }

  .service_info_main_txt {
    padding-top: 65px;
    width: 420px;
    margin-left: 2%;
  }

  .service_info_sub {
    margin-left: 2%;
  }

  .section_price {
    margin-top: 100px;
  }

  .price_banner {
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 16px;
  }


  .price_info {
    padding-top: 35px;
  }

  .price_info_block{
    max-width: 375px;
  }

  .price_info_title{
    font-size: 35px;
  }

  .section_partner{
    margin-top: 180px;
  }

  .section_partner_title{
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 40px;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 16px;
    margin-top: -30px;
  }

  .section_partner img{
    width: 120px;
    height: 120px;
  }

  .service_menu_pc {
    display: block;
  }

}

/*
88888888ba    ,ad8888ba,   
88      "8b  d8"'    `"8b  
88      ,8P d8'            
88aaaaaa8P' 88             
88""""""'   88             
88          Y8,            
88           Y8a.    .a8P  
88            `"Y8888Y"'                                                                                                            
*/
@media screen and (min-width: 1025px) {
  header {
    padding: 0px;
    padding-left: 10px;
  }

  header .FBicon {
    text-align: center;
    float: right;
    margin-top: 5px;
    margin-right: 3vw;
    width: 40px;
    height: 40px;
    background: url('../images/facebook_icon.png');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  header .FBicon {
    margin-right: 2vw;
  }

  .pc-only {
    display: block;
  }

  .price_info_mobile_btn_L, .price_info_mobile_btn_R, .price_info_mobile{
    display: none;
  }

  .price_info {
    overflow-x: hidden;
    list-style: none;
    width: 100%;
    text-align: center;
    padding-top: 90px;
  }

  .price_info_block {
    width: 80%;
  }

  .price_info_title{
    font-size: 35px;
  }
}