html {
  scroll-behavior: smooth;
  font-family: 'Microsoft JhengHei', '微軟正黑體','Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

img { border: 0 }
footer, header, section { display: block }
a { background-color: transparent }
a:active, a:hover { outline: 0 }

body {
  margin: 0;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  background-color: #000;
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.clear {
  overflow: auto;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.container_m {
  max-width: 950px;
}

.anchor {
  height: 50px;
  margin: -50px 0 0;
}

.bg-blue {
  background-color: #0f1526;
}

.FBicon {
  float: right;
  margin: 5px 2vw 0 0;
  width: 40px;
  height: 40px;
  background: url('../studio_asset/images/fbicon.png') center no-repeat;
  background-size: 40px;
}

/*
88b           d88             88          88 88
888b         d888             88          "" 88
88`8b       d8'88             88             88
88 `8b     d8' 88  ,adPPYba,  88,dPPYba,  88 88  ,adPPYba,
88  `8b   d8'  88 a8"     "8a 88P'    "8a 88 88 a8P_____88
88   `8b d8'   88 8b       d8 88       d8 88 88 8PP"""""""
88    `888'    88 "8a,   ,a8" 88b,   ,a8" 88 88 "8b,   ,aa
88     `8'     88  `"YbbdP"'  8Y"Ybbd8"'  88 88  `"Ybbd8"'
*/

header {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  padding-left: 15px;
  line-height: 50px;
  background-color: #000;
}

header .logo {
  height: 20px;
  vertical-align: middle;
}

header .menu {
  float: right;
}

.menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu li {
  display: inline-block;
}

.menu a {
  display: inline-block;
  padding: 0 15px;
  line-height: 50px;
  transition: background 0.3s;
}

.menu a:hover {
  background: #232323;
}

footer {
  padding: 25px 0;
  text-align: center;
}

.mobile-only {
  display: block;
}

.tablet-up-display {
  display: none;
}

.pc-only {
  display: none;
}

.center {
  text-align: center;
}

.NTD::before {
  content:"NTD";
  position: absolute;
  margin-top: -35px;
  margin-left: -10px;
  font-size: 15px;
  letter-spacing: normal;
}

.section_banner {
  margin-top: 50px;
}

.section_banner img {
  width: 100%;
}

.section_introduction {
  padding: 40px 0;
}

.introduction_img {
  display: block;
  width: 256px;
  height: 256px;
  margin: 0 auto;
}

.introduction_text {
  padding: 0 10%;
}

.introduction_title {
  font-size: 24px;
}

.introduction_desc {
  font-size: 12px;
  line-height: 1.67;
}

.section_why {
  padding-top:20px;
}

.why_br {
  margin-top: 50px;
  height: 1500px;
}

.why_center_line {
  position: absolute;
  left: 10%;
  width: 6px;
  height: 1500px;
  background-color: #fff;
}

.why_item {
  position: relative;
  width: 100%;
  margin: 50px auto 0;
  text-align: left;
}

.why_item_img {
  width: 100%;
  text-align: center;
}

.why_item_img img {
  width: 200px;
  height: 200px;
  height: auto;
  margin: 0 auto;
}

.why_item_dot {
  position:absolute;
  top: 112px;
  left: 10%;
  width: 26px;
  height: 26px;
  margin-left: -11px;
  background-color: #fff;
  border-radius: 50%;
}

.why_item_txt {
  width: 200px;
  margin: 0 auto;
}

.why_item_txt_title {
  margin-bottom: 10px;
  font-size: 20px;
  text-align: center;
}

.why_item_line_R {
  position: absolute;
  top: 124px;
  left: 10%;
  width: 10%;
  height: 3px;
  background-color: #fff;
}

.why_item_line_L {
  position: absolute;
  top: 126px;
  left: 50%;
  width: 180px;
  height: 4px;
  margin-left: -180px;
  background-color: #fff;
}

.section_service {
  padding: 20px 0 40px;
}

.section_service_title {
  margin: 0 0 6px 10%;
  text-align: left;
  font-size: 30px;
}

.section_service_subtitle {
  margin-left: 10%;
  text-align: left;
}

.service_item {
  float: left;
  margin-top: 40px;
  width: calc(100% / 3);
}

.service_item_img {
  width: 100px;
  height: 100px;
  background: url('../studio_asset/images/icon-services.png') no-repeat;
  background-size: 100px;
  margin: 0 auto 15px;
}

.service_item:nth-of-type(2) .service_item_img { background-position: 0 -100px; }
.service_item:nth-of-type(3) .service_item_img { background-position: 0 -200px; }
.service_item:nth-of-type(4) .service_item_img { background-position: 0 -300px; }
.service_item:nth-of-type(5) .service_item_img { background-position: 0 -400px; }
.service_item:nth-of-type(6) .service_item_img { background-position: 0 -500px; }
.service_item:nth-of-type(7) .service_item_img { background-position: 0 -600px; }

.service_item_text {
  width: 100px;
  margin: 0 auto;
}

.price_banner {
  padding: 35px 0 10px 10%;
  font-size: 32px;
  text-align: left;
}

.price_banner_sub {
  padding-left: 10%;
}

.price_info {
  margin-top: 10px;
  padding-top: 20px;
}

.price_info_block {
  width: 80%;
  min-width: 320px;
  margin: 0 auto 20px;
  padding: 15px 0 20px;
  color: #423c3b;
  background-color: #fff;
}

.price_info_title {
  height: 60px;
  margin-bottom: 25px;
  font-size: 25px;
  text-align: center;
  line-height: 60px;
}

.price_info_block_price {
  position: relative;
  margin: 10px 0 15px 10px;
  font-size: 60px;
  line-height: 70px;
  text-align: center;
  letter-spacing: 12px;
}

.price_info_block_contant {
  padding: 0 30px 0 40px;
  font-size: 20px;
  text-align: center;
}

.price_info_block_subtitle {
  margin: 20px 0;
}

.price_info_block_topshadow {
  padding-top: 20px;
  background-color: #fff;
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
}

.section_info {
  padding: 20px 10% 30px;
}

.section_info img {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto;
}

.info_item_text {
  margin-top: 5px;
  font-size: 12px;
}

.why_title {
  margin-left: 10%;
  font-size: 32px;
  text-align: left;
}

.applyBtn {
  display: block;
  width: 300px;
  margin: 75px auto;
  padding: 20px 0;
  font-size: 24px;
  text-align: center;
  background-color: #306c9b;
  border-radius: 50px;
}

/*
888888888888       88          88
     88            88          88              ,d
     88            88          88              88
     88 ,adPPYYba, 88,dPPYba,  88  ,adPPYba, MM88MMM
     88 ""     `Y8 88P'    "8a 88 a8P_____88   88
     88 ,adPPPPP88 88       d8 88 8PP"""""""   88
     88 88,    ,88 88b,   ,a8" 88 "8b,   ,aa   88,
     88 `"8bbdP"Y8 8Y"Ybbd8"'  88  `"Ybbd8"'   "Y888
*/

@media (min-width: 768px) {
  .tablet-up-display {
    display: block;
  }

  .price_banner {
    padding: 20px 0;
    font-size: 40px;
    text-align: center;
  }

  .price_banner_sub {
    padding: 0;
    text-align: center;
  }

  .price_info {
    padding-top: 35px;
    text-align: center;
  }

  .price_info_block {
    float: none;
    display: inline-block;
    max-width: 375px;
    margin: 0;
  }

  .price_info_block + .price_info_block {
    margin-left: 30px;
  }

  .price_info_title {
    font-size: 30px;
  }

  .section_info {
    padding-bottom: 40px;
  }

  .info_item_text {
    font-size: 15px;
  }

  .section_service {
    padding-top: 80px;
  }

  .section_service_title {
    margin-left: 0;
    text-align: center;
  }

  .section_service_subtitle {
    margin-left: 0;
    text-align: center;
  }

  .service_item {
    width: calc(100% / 7);
  }

  .why_title {
    margin-left: 0;
    text-align: center;
  }

  .why_center_line {
    left: 50%;
    height: 1610px;
    margin-left: -3px;
  }

  .why_item {
    height: 256px;
    margin-top: 100px;
  }

  .why_item_dot {
    top: 112px;
    left: 50%;
    width: 33px;
    height: 33px;
    margin-left: -17px;
  }

  .why_item_img {
    display: inline-block;
    width: 256px;
    height: 256px;
  }

  .why_item_txt {
    display: inline-block;
    width: 256px;
    margin-top: 71px;
    padding-left: 20px;
    padding-right: 0;
  }

  .why_item_txt_title {
    text-align: left;
  }

  .why_item_R {
    float: right;
    padding-right: 20px;
  }

  .why_item_img_L {
    margin-left: 5%;
  }

  .why_item_img_R {
    margin-right:5%;
  }

  .why_item_img img {
    width: 100%;
  }

  .why_item_line_R {
    top: 126px;
    left: 50%;
    width: 15%;
    height: 4px;
  }

  .why_item_line_L {
    width: 15%;
    margin-left: -15%;
  }

  .why_br {
    height: 1620px;
  }

  .introduction_img {
    float: left;
  }

  .introduction_text {
    box-sizing: border-box;
    float: right;
    width: calc(200% / 3);
    padding: 0 6% 0 0;
  }

  .introduction_title {
    font-size: 30px;
  }

  .introduction_desc {
    font-size: 15px;
  }

  .applyBtn {
    font-size: 30px;
  }

  .mobile-only {
    display: none;
  }
}

/*
88888888ba    ,ad8888ba,
88      "8b  d8"'    `"8b
88      ,8P d8'
88aaaaaa8P' 88
88""""""'   88
88          Y8,
88           Y8a.    .a8P
88            `"Y8888Y"'
*/
@media (min-width: 1024px) {
  .price_info {
    width: 80%;
    margin: 0 auto;
  }

  .price_info_block {
    width: 80%;
  }

  .why_item_txt, .why_item_R {
    padding-right: 0;
  }

  .why_item_line_R {
    width: 180px;
  }

  .why_item_line_L {
    width: 180px;
    margin-left: -180px;
  }

  .why_item_img_L {
    margin-left: 90px;
  }

  .why_item_img_R {
    margin-right: 90px;
  }
}
